<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.nov.pjsip-cordova" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>myplugin</name>
  <js-module name="myplugin" src="www/myplugin.js">
    <clobbers target="cordova.plugins.myplugin" /></js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="MyPlugin">
        <param name="android-package" value="org.nov.myplugin.MyPlugin" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="org.nov.myplugin.BackgroundService" />
      <receiver
        android:name="org.nov.myplugin.WakeUpReceiver"
        android:enabled="true" >
      </receiver>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.WAKE_LOCK" />
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/MyPlugin.java" target-dir="src/org/nov/myplugin" />
    <source-file src="src/android/BackgroundService.java" target-dir="src/org/nov/myplugin" />
    <source-file src="src/android/WakeUpReceiver.java" target-dir="src/org/nov/myplugin" />

    <!-- Actual SIP handling code -->
    <source-file src="src/android/myapplication/BackgroundService.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/CallActivity.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/MainActivity.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/MyAccount.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/MyApp.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/MyAppObserver.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/MyBuddy.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/MyCall.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/PJSIP.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/Permissions.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/PjsipActions.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/PjsipActivity.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/Utils.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/WakeUpReceiver.java" target-dir="com/example/diego/myapplication" />
    <source-file src="src/android/myapplication/scAudioManager.java" target-dir="com/example/diego/myapplication" />

    <!-- PJSUA JNILIBs -->
    <source-file src="src/android/jniLibs/armeabi/libpjsua2.so" target-dir="libs/armeabi" />
    <source-file src="src/android/jniLibs/armeabi-v7a/libpjsua2.so" target-dir="libs/armeabi-v7a" />
    <source-file src="src/android/jniLibs/x86/libpjsua2.so" target-dir="libs/x86" />

    <!-- PJSUA2 JAVA interface files -->
    <source-file src="src/android/pjsip/PjCamera.java" target-dir="src/org/pjsip/" />
    <source-file src="src/android/pjsip/PjCameraInfo.java" target-dir="src/org/pjsip/" />
    <source-file src="src/android/pjsip/pjsua2/Account.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AccountCallConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AccountConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AccountInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AccountMediaConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AccountMwiConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AccountNatConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AccountPresConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AccountRegConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AccountSipConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AccountVideoConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AudDevManager.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AudioDevInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AudioDevInfoVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AudioMedia.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AudioMediaPlayer.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AudioMediaPlayerInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AudioMediaRecorder.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AudioMediaVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AuthCredInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/AuthCredInfoVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/Buddy.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/BuddyConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/BuddyInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/BuddyVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/Call.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/CallInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/CallMediaInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/CallMediaInfoVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/CallOpParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/CallSendRequestParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/CallSetting.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/CallVidSetStreamParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/CodecInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/CodecInfoVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/ConfPortInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/ContainerNode.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/Endpoint.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/EpConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/Error.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/FindBuddyMatch.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/IntVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/JbufState.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/JsonDocument.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/LogConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/LogEntry.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/LogWriter.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/LossType.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MathStat.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/Media.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MediaConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MediaCoordinate.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MediaEvent.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MediaEventData.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MediaFmtChangedEvent.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MediaFormat.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MediaFormatAudio.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MediaFormatVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MediaFormatVideo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MediaSize.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/MediaTransportInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallMediaEventParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallMediaStateParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallMediaTransportStateParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallRedirectedParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallReplaceRequestParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallReplacedParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallRxOfferParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallSdpCreatedParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallStateParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallTransferRequestParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallTransferStatusParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCallTsxStateParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnCreateMediaTransportParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnDtmfDigitParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnIncomingCallParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnIncomingSubscribeParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnInstantMessageParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnInstantMessageStatusParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnMwiInfoParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnNatCheckStunServersCompleteParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnNatDetectionCompleteParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnRegStartedParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnRegStateParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnSelectAccountParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnStreamCreatedParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnStreamDestroyedParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnTimerParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnTransportStateParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/OnTypingIndicationParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/PendingJob.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/PersistentDocument.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/PersistentObject.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/PresNotifyParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/PresenceStatus.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/RtcpSdes.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/RtcpStat.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/RtcpStreamStat.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/RxMsgEvent.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SWIGTYPE_p_p_void.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SWIGTYPE_p_pj_bool_t.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SWIGTYPE_p_pj_ssize_t.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SWIGTYPE_p_pjmedia_vid_dev_hwnd_type.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SWIGTYPE_p_void.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SdpSession.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SendInstantMessageParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SendTypingIndicationParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SipEvent.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SipEventBody.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SipHeader.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SipHeaderVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SipMediaType.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SipMultipartPart.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SipMultipartPartVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SipRxData.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SipTransaction.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SipTxData.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/SipTxOption.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/StreamInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/StreamStat.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/StringVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/TimeVal.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/TimerEvent.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/TlsConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/ToneDesc.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/ToneDescVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/ToneDigit.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/ToneDigitMapDigit.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/ToneDigitMapVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/ToneDigitVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/ToneGenerator.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/TransportConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/TransportInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/TsxStateEvent.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/TsxStateEventSrc.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/TxErrorEvent.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/TxMsgEvent.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/UaConfig.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/UserEvent.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/Version.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/VidDevManager.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/VideoDevInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/VideoDevInfoVector.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/VideoPreview.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/VideoPreviewOpParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/VideoSwitchParam.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/VideoWindow.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/VideoWindowHandle.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/VideoWindowInfo.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/WindowHandle.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pj_constants_.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pj_file_access.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pj_log_decoration.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pj_qos_flag.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pj_qos_params.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pj_qos_type.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pj_qos_wmm_prio.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pj_ssl_cipher.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pj_ssl_sock_proto.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pj_stun_nat_type.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pj_turn_tp_type.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_aud_dev_cap.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_aud_dev_route.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_dir.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_event_type.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_file_player_option.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_file_writer_option.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_format_id.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_orient.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_srtp_use.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_tone_desc.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_tone_digit.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_tone_digit_map.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_tp_proto.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_type.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_vid_dev_cap.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_vid_dev_std_index.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjmedia_vid_stream_rc_method.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjrpid_activity.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_cred_data_type.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_dialog_cap_status.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_event_id_e.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_evsub_state.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_hdr_e.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_inv_state.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_redirect_op.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_role_e.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_ssl_method.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_status_code.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_transport_flags_e.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_transport_state.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_transport_type_e.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsip_tsx_state_e.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua2.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua2Constants.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua2JNI.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_100rel_use.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_buddy_status.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_call_flag.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_call_hold_type.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_call_media_status.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_call_vid_strm_op.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_create_media_transport_flag.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_destroy_flag.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_invalid_id_const_.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_ipv6_use.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_med_tp_st.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_sip_timer_use.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_state.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_stun_use.java" target-dir="src/org/pjsip/pjsua2/" />
    <source-file src="src/android/pjsip/pjsua2/pjsua_vid_req_keyframe_method.java" target-dir="src/org/pjsip/pjsua2/" />

  </platform>
</plugin>
