<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.nov.pjsip-cordova" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>myplugin</name>
  <js-module name="myplugin" src="www/myplugin.js">
    <clobbers target="cordova.plugins.myplugin" /></js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="MyPlugin">
        <param name="android-package" value="org.nov.myplugin.MyPlugin" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <service android:name="org.nov.myplugin.BackgroundService" />
      <receiver
        android:name="org.nov.myplugin.WakeUpReceiver"
        android:enabled="true" >
      </receiver>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.WAKE_LOCK" />
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <source-file src="src/android/MyPlugin.java" target-dir="src/org/nov/myplugin" />
    <source-file src="src/android/BackgroundService.java" target-dir="src/org/nov/myplugin" />
    <source-file src="src/android/WakeUpReceiver.java" target-dir="src/org/nov/myplugin" />
  </platform>
</plugin>
